<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Projeto Calculadora de IMC</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header>
  <h1>Projeto Calculadora de IMC</h1>
  <p>A Calculadora de IMC avalia se seu peso está adequado em relação à sua altura, <br> ajudando a identificar se você está com o peso ideal, abaixo ou acima do recomendado.</p> <br><br>
  <p>Conheça os integrantes do projeto e acesse a calculadora de IMC</p>
</header>

<section class="integrantes">
  <div class="integrante">
    <img src="css/images/vitoria.jpg" alt="Vitória">
    <p>Vitória</p>
  </div>
  <div class="integrante">
    <img src="css/images/daniela.png" alt="Daniela">
    <p>Daniela</p>
  </div>
  <div class="integrante">
    <img src="css/images/pedro.jpg" alt="Pedro">
    <p>Pedro</p>
  </div>
  <div class="integrante">
    <img src="css/images/lucas.png" alt="Lucas">
    <p>Lucas</p>
  </div>
  <div class="integrante">
    <img src="css/images/welber.png" alt="Welber">
    <p>Welber</p>
  </div>
  <div class="integrante">
    <img src="css/images/ryan.jpg" alt="Ryan">
    <p>Ryan</p>
  </div>
</section>

<div class="botao">
  <a href="/calculadora">Ir para a Calculadora de IMC</a>
</div>

</body>
</html>
